<a href="https://colab.research.google.com/github/urlapovia03/university/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1_ipynb%22%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *[Урлапов Иван Алексеевич]*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [ ]:
print('Добро пожаловать в мир Python!')

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [ ]:
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [ ]:
a='Ivan'
print(a)

Ivan

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [ ]:
print("Первая строка\nВторая строка\nТретья строка\nЧетвёртая строка")

Первая строка
Вторая строка
Третья строка
Четвёртая строка

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [ ]:
print(f"7 + 7 = {7 + 7}")

7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [ ]:
a = int(input("Введите первое число: "))
b = int(input("Введите второе число: "))
c = int(input("Введите третье число: "))

result=a*b*c

print(f"Произведение: {a} * {b} * {c} = {result}")

Введите первое число: 2
Введите второе число: 3
Введите третье число: 4
Произведение: 2 * 3 * 4 = 24

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [ ]:
fio = input("Введите ФИО (Фамилия Имя Отчество): ")

parts = fio.split()

familiya = parts[0]
imya_initial = parts[1][0]
otchestvo_initial = parts[2][0]

print(f"{familiya} {imya_initial}.{otchestvo_initial}.")

Введите ФИО (Фамилия Имя Отчество): Урлапов Иван Алексеевич
Урлапов И.А.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [ ]:
text = input("Введите строку: ")
symbol = input("Введите символ для поиска: ")

count = text.count(symbol)

print(f"Символ '{symbol}' встречается в строке {count} раз(а)")

Введите строку: sdfdsfsdf
Введите символ для поиска: s
Символ 's' встречается в строке 3 раз(а)

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [ ]:
color = input("Введите ваш любимый цвет: ")

print(f"{color} - красивый цвет!")

Введите ваш любимый цвет: Синий
Синий - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [ ]:
text = input("Введите строку: ")

length = len(text)

print(f"Длина строки: {length}")

Введите строку: аываываываыв
Длина строки: 12

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [ ]:
a=42
print(a)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [ ]:
result = (17 * 3) + (10 / 2)

result_int = int(result)

print(result_int)

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [ ]:
string_number = "100"
integer_number = int(string_number)

result = integer_number + 25

print(result)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [ ]:
number = 7

print(type(number))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [ ]:
number1 = 50
number2 = 18

difference = number1 - number2

print(difference)

32

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [ ]:
number = float(input("Введите вещественное число: "))

square = number ** 2

print(f"Квадрат числа: {square}")

Введите вещественное число: 24.3
Квадрат числа: 590.49

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [ ]:
number = float(input("Введите вещественное число: "))

rounded_number = round(number, 2)

print(f"Округленное число: {rounded_number}")

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [ ]:
number1 = 2.5
number2 = 4.7

result = number1 + number2

print(result)

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [ ]:
celsius = float(input("Введите температуру в градусах Цельсия: "))

fahrenheit = celsius * 9/5 + 32

print(f"{celsius}°C = {fahrenheit}°F")

Введите температуру в градусах Цельсия: 32
32.0°C = 89.6°F

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [ ]:
length = float(input("Введите длину прямоугольника: "))
width = float(input("Введите ширину прямоугольника: "))

area = length * width
perimeter = 2 * (length + width)

print(f"Площадь прямоугольника: {area}")
print(f"Периметр прямоугольника: {perimeter}")

Введите длину прямоугольника: 12
Введите ширину прямоугольника: 32
Площадь прямоугольника: 384.0
Периметр прямоугольника: 88.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [ ]:
my_str='Python - самый популярный язык программирования'
print(my_str)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [ ]:
text = "Привет, мир!"

first_char = text[0]
last_char = text[-1]

print(f"Первый символ: {first_char}")
print(f"Последний символ: {last_char}")

Первый символ: П
Последний символ: !

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [ ]:
str1 = "МИИГАиК - "
str2 = "Лучший "
str3 = "ВУЗ!"

result = str1 + str2 + str3

print(result)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [ ]:
string_number = "12345"

number = int(string_number)

print(f"Число: {number}")
print(f"Тип: {type(number)}")

Число: 12345
Тип: <class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [ ]:
text = "python is Fun"

uppercase_text = text.upper()

print(uppercase_text)

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [ ]:
numbers = [10, 20, 30, 40, 50]

print(numbers)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [ ]:
numbers = [10, 20, 30, 40, 50]

numbers.append("новый элемент")

print(numbers)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [ ]:
languages = ['python', 'java', 'c++', 'ruby', 'perl']

result = languages[1:4]

print(result)

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [ ]:
my_list = []

my_list.append(10)
my_list.append("Python")
my_list.append(3.14)

print(my_list)

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [ ]:
numbers = [1, 2, 3, 4, 5]

numbers[1] = 200

print(numbers)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [ ]:
numbers = (1, 2, 3, 4, 5)

print(numbers)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[0] = 100
# Получаем ошибку при попытке изменения неизменяемого объекта

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [ ]:
my_tuple = ('П', 'р', 'и', 'в', 'е', 'т')

result = ''.join(my_tuple)

print("Исходный кортеж:", my_tuple)
print("Строка:", result)

Исходный кортеж: ('П', 'р', 'и', 'в', 'е', 'т')
Строка: Привет

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

element = 3

if element in my_tuple:
    print(f"Элемент {element} содержится в кортеже")
else:
    print(f"Элемент {element} не найден в кортеже")

Элемент 3 содержится в кортеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2, 5, 2, 6)

count = my_tuple.count(2)

print("Кортеж:", my_tuple)
print(f"Количество элементов '2': {count}")

Кортеж: (1, 2, 3, 2, 4, 2, 5, 2, 6)
Количество элементов '2': 4

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [ ]:
person = {
    "имя": "Иван",
    "возраст": 22,
    "город": "Москва"
}

print(person)

{'имя': 'Иван', 'возраст': 22, 'город': 'Москва'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [ ]:
person = {
    "имя": "Иван",
    "возраст": 22,
    "город": "Москва"
}

name = person["имя"]

print(name)

Иван

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [ ]:
person = {
    "имя": "Иван",
    "возраст": 22,
    "город": "Москва"
}

print("Словарь до добавления:")
print(person)

person["профессия"] = "Картограф"

print("\nСловарь после добавления:")
print(person)

Словарь до добавления:
{'имя': 'Иван', 'возраст': 22, 'город': 'Москва'}

Словарь после добавления:
{'имя': 'Иван', 'возраст': 22, 'город': 'Москва', 'профессия': 'Картограф'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [ ]:
person = {
    "имя": "Иван",
    "возраст": 22,
    "город": "Москва",
    "профессия": "Программист"
}

print("Словарь до удаления:")
print(person)

del person["город"]

print("\nСловарь после удаления:")
print(person)

Словарь до удаления:
{'имя': 'Иван', 'возраст': 22, 'город': 'Москва', 'профессия': 'Программист'}

Словарь после удаления:
{'имя': 'Иван', 'возраст': 22, 'профессия': 'Программист'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [ ]:
my_dict = {}

key = input("Введите ключ: ")
value = input("Введите значение: ")

my_dict[key] = value

print("\nСоздан словарь:")
print(my_dict)

Введите ключ: имя
Введите значение: Иван

Создан словарь:
{'имя': 'Иван'}